{{- /* -*- mode: web; -*- */ -}}
---
{{- $areaData := .dotfiles.areaData.default -}}
{{- if eq .dotfiles.area "cn" -}}
{{- $areaData = mergeOverwrite $areaData .dotfiles.areaData.cn -}}
{{- end -}}
{{- $gemSource := $areaData.gemSource -}}
{{ range $key, $val := $gemSource }}
{{ $key }}: {{ $val }}
{{ end -}}
