{{- /* -*- mode: web; -*- */ -}}
{{- $areaData := .data.area.unknown -}}
{{- if eq .props.area "cn" -}}
{{- $areaData = mergeOverwrite $areaData .data.area.cn -}}
{{- end -}}
{{- $gemSource := $areaData.gemSource -}}
---
{{ range $key, $val := $gemSource -}}
{{ $key }}: {{ $val }}
{{ end -}}
