{{- /* -*- mode: web; -*- */ -}}
{{- $roleData := .data.role.basic -}}
(req-package holidays
  :ensure (holidays :pin :built-in)
  :init
  (setq holiday-other-holidays
        '(
          {{- range $holiday := $roleData.emacsHolidayOtherHolidays }}
          {{ $holiday }}
          {{- end }}
          )))
