[Desktop Entry]
Type=Application
Name=Xautolock
Exec=o daemon xautolock --background --make-pidfile --oknodo --start -- -time 20 -locker "o xlock --yes"
