[Unit]
Description=unclutter

[Service]
Environment="EXTRA_OPTS=-idle 1 -root"
EnvironmentFile=-/etc/default/unclutter
ExecStart=/usr/bin/unclutter $EXTRA_OPTS
Restart=on-failure
