keybinds {
    locked {
        unbind "Ctrl g"
        bind "Alt #" { SwitchToMode "Normal"; }
        // https://github.com/zellij-org/zellij/issues/418#issuecomment-1537037950
    }
    shared_except "locked" {
        unbind "Ctrl q"
    }
    shared_except "tmux" "locked" {
        unbind "Ctrl b"
    }
}

simplified_ui true
