{{- /* -*- mode: web; -*- */ -}}
{{- $areaList := list "unknown" "cn" -}}
{{- $area := promptChoice "Area" $areaList -}}
{{- $netdev := promptString "Network device" -}}
[data.props]
area = {{ $area | quote }}
# roles = ["basic", "desktop", "dev"]
roles = []
netdev = {{ $netdev | quote }}
