{{- /* -*- mode: web; -*- */ -}}
{{- $areaData := .dotfiles.areaData.default -}}
{{- if eq .dotfiles.area "cn" -}}
{{- $areaData = mergeOverwrite $areaData .dotfiles.areaData.cn -}}
{{- end -}}
{{- $gemSource := $areaData.gemSource -}}
---
:backtrace: false
:bulk_threshold: 1000
{{- if $gemSource }}
:sources:
{{- range $key, $val := $gemSource }}
- {{ $val | quote }}
{{- end }}
{{ else }}
:sources: []
{{ end -}}
:update_sources: true
:verbose: true
install: "--env-shebang --document=yri"
