{{- /* -*- mode: web -*- */ -}}
{{- $roleData := .dotfiles.roleData.default -}}
# -*- mode: sh -*-

ALTERNATE_EDITOR="{{ $roleData.alternateGraphicEditor }}"
export ALTERNATE_EDITOR

: ${TERMINAL:=x-terminal-emulator}
export TERMINAL

: ${X_WINDOW_MANAGER:=x-window-manager}
export X_WINDOW_MANAGER

: ${XLOCKER:=slock}
export XLOCKER

: ${BROWSER:=chromium -incognito:conkeror:$TERMINAL -e www-browser "%s":www-browser}
export BROWSER

: ${X_SERVER:=/usr/bin/X}
export X_SERVER

[ ! -f "${HOME}/.xsessionrc.local" ] || . "${HOME}/.xsessionrc.local"
