{{- /* -*- mode: web; -*- */ -}}
{{- $roleData := .dotfiles.roleData.default -}}
{{- $areaData := .dotfiles.areaData.default -}}
{{- if eq .dotfiles.area "cn" -}}
{{- $areaData = .dotfiles.areaData.cn -}}
{{- end -}}
{{- template "shrc.sh" dict "chezmoi" .chezmoi "dotfiles" .dotfiles "roleData" $roleData "areaData" $areaData -}}
