{{- /* -*- mode: web; -*- */ -}}
{{- $areaData := .data.area.unknown -}}
{{- if eq .props.area "cn" -}}
{{- $areaData = mergeOverwrite $areaData .data.area.cn -}}
{{- end -}}
{{- $nixNixpkgsChannelURL := $areaData.nixNixpkgsChannelURL -}}
{{ $nixNixpkgsChannelURL }} nixpkgs
