/*-*- mode: css; -*-*/
/* https://github.com/davatorium/rofi/wiki/Themes#emacs */

configuration {
	m: "-2";
	kb-accept-entry: "Control+m,Return,KP_Enter";
	kb-accept-custom: "Control+Return,Control+j";
	kb-row-select: "Control+space,Alt+slash";
}
