{{- /* -*- mode: web; -*- */ -}}
{{- $areaData := .data.area.unknown -}}
{{- if eq .props.area "cn" -}}
{{- $areaData = mergeOverwrite $areaData .data.area.cn -}}
{{- end -}}
{{- $pipIndexURL := $areaData.pipIndexURL -}}
[global]
# https://pip.pypa.io/en/stable/reference/pip_wheel/#index-url
index-url = {{ $pipIndexURL }}
